@{
    ViewData["Title"] = "Admin App";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Admin App</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>Admin App</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/assets/img/final.png" alt="Admin Application">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>:Admin App</li>
                            <li><strong>Project date</strong>: 28 July, 2023</li>
                            <li><strong>Project REPO</strong>: <a href="#">https://github.com/CodySlivinski/DVPRO</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>Admin App</h2>
                        <p>
                            This project was done using my whole class as a dev team. We were broken up into smaller pair teams from there. With the eight graduating members of my class at Centriq we dove into a start to finish whole team implementaion of an app. We used Scrum as our Project Management Methodology where we implemented sprint planning, daily stand-ups, and a sprint retrospective at the end of the sprint We used Agile as our Software Development methodology where daily we would come up with new features we thought would be cool to add. The source control used for the this, and all my projects, was GitHub. Using GitHub and a series of branching and pushing to the main each team was able to accomplish tasks laid out before us on a kanban board that was constantly updated and added to. This was a great project. It was the first time we got to all work together as a team and come up with a great application. Many things such as identity, tables, exports, imports, CRUD functioanilty, and many more were implemented by us using community plug-ins and many other methods. 
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
