@{
    ViewData["Title"] = "Portfolio Details";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Portfoio Details</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>Portfoio Details</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/assets/img/Consoleapp.jpg" alt="C# Code">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: C# Console App</li>
                            <li><strong>Project date</strong>: 08 May, 2023</li>
                            <li><strong>Project URL</strong>: <a href="#">https://github.com/CodySlivinski/DungeonCrawlerApp</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>C# Dungeon Crawler Console App</h2>
                        <p>
                            Here I designed a dungeon crawler app written in C# on Visual Sudios 2022. The app is short and sweet and functional. You go in a design a Cranky Grandma who has to fight her way to nap time by accomplishing as many tasks as she can befor her fatigue gets to her. Check out the repository above and give the game a play!!!
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
