@{
    ViewData["Title"] = "E-Commerce using .NET MVC Core";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>E-Commerce Site</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>E-Commerce</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/assets/img/storefront.png" alt="To-Do Checklist">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>:E-Commerce site using .NET MVC Core</li>
                            <li><strong>Project date</strong>: 07 July, 2023</li>
                            <li><strong>Project REPO</strong>: <a href="#">https://github.com/CodySlivinski/StoreFrontI</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>E-Commerce site</h2>
                        <p>
                            Here I designed a mock e-commerce site using .NET Core and MVC architecture. It started with the design of a database using SQL. The database was then used to construct the views and controllers for the web page using Entity Framework. Metadata was then built for all the items found in the database in order to scaffold the controllers and views. Client-side and server-side filters were implemented to allow sorting of items found in the e-commerce site. Many additional features were added to increase funtionality of the site along the way.  
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
