@{
    ViewData["Title"] = "To-Do API";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>To-Do API</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>To-Do API</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/assets/img/todo.png" alt="To-Do Checklist">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>:React App using Resful API</li>
                            <li><strong>Project date</strong>: 26 June, 2023</li>
                            <li><strong>Project URL</strong>: <a href="#">http://codyslivinski.com/todo</a></li>
                            <li><strong>Project REPO</strong>: <a href="#">https://github.com/CodySlivinski/ToDoAPI</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>To-Do App</h2>
                        <p>
                            Here I designed a single page to-do app using .NET Web APIs and React. The application was designed to give the user the ability to add, edit, delete, or mark complete items on the list. This was accomplished by using many node packages to allow full funtionality such as loging in and out and CRUD of the checklist items or the categories they are in.  
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
